// Color Variables
$primary-color: #010a07;
$secondary-color: #74c69d;
$secondary-color-shadow: #40916c;
$accent-color: #d8f3dc;

// Font Variables
$primary-font: "Mukta", sans-serif;
$secondary-font: "Oswald", serif;



